<div class="row">
    <div class="col-6 col-md-3 col-sm-6">
        <div *ngFor="let gif of gifs" class="card mb-2 text-center bg-dark">

            <img [src]="gif.featured_gif?.images?.downsized_medium?.url"
                [alt]="gif.featured_gif?.title"
                class="card-img-top"
            >

            <div class="card-body text-white">
                <p class="card-text">
                    {{ gif.featured_gif?.title }}
                </p>
            </div>

        </div>
    </div>
</div>